/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  /* Цвета и фон */
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --primary-text-color: #353430;
  --secondary-text-color: #353430;
  --accent-color: #FF8DCB;
  --section-title-color: #353430;
  /* Цвет ховера кнопок навигации */
  --accent-color-alpha: rgb(53, 52, 48, 0.4);
  --button-color: var(--primary-text-color);
  --decorated-zone: var(--primary-text-color);
  /* Повторяет акцент для неона */
  --footer-shadow-color: #FF0070;
}

.theme-light .header__span {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --title-color: #FFC2E6;
    --primary-text-color: #353430;
    --secondary-text-color: #353430;
    --accent-color: #FF8DCB;
    --section-title-color: #353430;
    --accent-color-alpha: rgb(53, 52, 48, 0.4);
    --button-color: var(--primary-text-color);
    --decorated-zone: var(--primary-text-color);
    --footer-shadow-color: #FF0070;
  }

  .header__span {
    display: none;
  }
}