/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --dark-color: #000028;

  /* Цвета и фон */
  --bg-color: var(--dark-color);
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #D800FF;
  --primary-text-color: var(--dark-color);
  --secondary-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --section-title-color: var(--accent-color);
  /* Цвет ховера кнопок навигации */
  --accent-color-alpha: rgb(255, 0, 112, .4);
  --button-color: var(--accent-color);
  --decorated-zone: var(--accent-color);
  --footer-shadow-color: var(--accent-color);

  /* Текст */
  --font-size: 18px;
  --line-height: 1.3;
}